docker {
    enabled = true
}

params {
    outdir = "${projectDir}/results"
    reads = "${projectDir}/fastq_files/*.fastq.gz"
    transcriptome = "${projectDir}/references/ncbi_transcriptome.fna"
    genome = "${projectDir}/references/ncbi_genome.fna"
    genome_annotation = "${projectDir}/references/ncbi_genome.gtf"
}

process {
    executor = 'local'
    cpus = 2
    withName: INDEX {
        cpus = 8
        memory = 8.GB
    }
    withName: QUANTIFY {
        cpus = 8
    }
}

executor {
  $local {
      cpus = 8
      memory = '10 GB'
  }
}